.btn {
  display: block;
}
#output {
  font-weight: bold;
  font-size: xx-large;
  font-style: italic;
}
img {
  width: 600px;
}
.descText {
  font-style: italic;
}
body {
  background-image: url("img/background2.gif");
  background: scroll;
  background-size: cover;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
 }
 .container { 
  opacity: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
 #questionBox { 
  opacity: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#c {
  display: none;
}
#sql {
  display: none;
}
#js {
  display: none;
}
#css {
  display: none;
}
#again {
  display: none;
}