.btn {
  display: block;
}

img {
  width: 300px;
}

#output {
  display: none;
}

#c {
  display: none;
}
#sql {
  display: none;
}
#js {
  display: none;
}
#css {
  display: none;
}
#again {
  display: none;
}